* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("CIMG0780.jpg");
    background-color: #cccccc;
}
.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 40px;
  color: #ff0000;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-size: 20px;
  margin-top: 30px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  float: left;
  width: 80%;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;
  width: 20%;

}

p {
  font-size: 16px;
  color: #333333;
  line-height: 21px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 16px;
  color: #F3F3F3;
  line-height: 28px;
}

#skillsH3 {
  color: #ff0000;
  display: none;
}

.orange {
  background-color: #ff0000;
}

.orange-text {
  color: #ff0000;
  fill: currentColor;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4A4A4A;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}


.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

embed, #map {
  display: inline;
  height: 100%;
  width: 944px;

  margin: auto;
}

#mapDiv {
  height: 500px;
  width: 100%;
  padding-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}

#bullet {
  color: #F5A623;
}

.project-box {
  width: 45%;
  padding-left: 5%;
  padding-right: 5%;
}

.image-box {
  width: 45%;
}

#mapSection {
  background-color: black;
}